<!DOCTYPE html>
<html>
  <head>
    <title>Gulp test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <!-- <script language="javascript" type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js" async></script> -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <header>
        <nav class="nav__imgandburgercontainer">
          <div class="nav__marque"><img class="nav__logo" src="img/gan_logo.png" alt=""><span>gancube</span></div>
          <a class="nav__burger"><i class="demo-icon icon-th-list"></i></a>
        </nav>
        <nav class="menu">
          <ul class="menu__list">
            <li><a class="menu__link" href="#qualiteslink">Atouts</a></li>
            <li><a class="menu__link" href="#preslink">Détails</a></li>
            <li><a class="menu__link" href="#magnetlink">Système aimanté</a></li>
            <li><a class="menu__link" href="#corelink">Core</a></li>
            <li><a class="menu__link" href="#springslink">GES springs</a></li>
          </ul>
        </nav>
        <nav class="fixed__icons">
          <a class="fixed__buy" href="#">BUY</a>
          <a class="fixed__up demo-icon icon-up-open" href="#"></a>
        </nav>

      <!-- <nav class="nav__login">

      </nav> -->
    </header>
