<!DOCTYPE html>
<html>
  <head>
    <title>Gulp test</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <header>
      <nav class="nav__site">
        <ul>
          <h3>gancube</h3>
          <li>products</li>
          <li>rsc</li>
          <li>world records</li>
          <li>services</li>
        </ul>
      </nav>
      <!-- <nav class="nav__login">

      </nav> -->
    </header>
