@import 'blocs/header';
@import 'blocs/footer';
@import 'blocs/garde';
@import 'blocs/pres';
// on met vraiment TOUS les css ici ???

@font-face {
 font-family: "Roboto";
 src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

h1 {
  color: brown;
  font-family: "Roboto", Arial;

  &:hover {
    color: green;
  }
}

section{
  height:100vh;
}
