@import 'fontello/fontello-codes';
@import 'assets/variables';
@import 'assets/mixines';
@import 'blocs/header';
@import 'blocs/footer';


@font-face {
  font-family: 'Fontello';
  src: url('./../fonts/fontello.woff?7825420') format('woff')
}
@font-face {
  font-family: 'Quando';
  src: url('../fonts/quando.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat.woff') format('woff');
}
@font-face {
 font-family: 'Roboto';
 src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

html{
  font-family: 'Montserrat', Arial;
  font-size:62.5%;
}
.demo-icon{
  font-family: 'Fontello';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
}

body{
  margin:0;
  font-size: 1.6rem;
}

section{
  min-height:90vh;
}

h1, h2{
  text-align: center;
  padding-left:1vw;
  padding-right:1vw;
}

h1{
  font-size:4rem;
  font-family: 'Montserrat';
}

h2{
  font-size: 3rem;
  font-family:'Quando',sans-serif;
  font-weight:normal;
}

p{
  text-align: justify;
  width:70%;
  margin: 10px auto;
  font-size: 2rem;
}

strong{
  font-family:'Quando';
}


.mobile__optional{
  display:none;
  @media screen and (min-width: $break-medium) {
    display:inherit;
  }
}

/********* "PAGE" DE GARDE *********/
.garde{
  height:90vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gardebg);
  text-align: center;
  @media screen and (min-width: $break-medium) {
    height:100vh;
  }
}

.garde__img{
  max-height:55vh;
  width:20vw;
  min-width:150px;
}

/*********QUALITÉS*************/
.qualites{
  height:auto;
  min-height: 90vh;
  font-size:2rem;
}

//trick pour que le container cumule min-height 100vh ET min-height 480px
.qualites__container{
  min-height:480px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  // align-content: space-around;
  align-content: center;
  @media screen and (min-width: $break-large) {
    justify-content: center;
  }
}

.qualites__side{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media screen and (min-width: $break-large) {
    flex-direction:row;
  }
}

.qualites__item{
  display:flex;
  flex-flow: column;
  align-items: center;
  // align-content: space-between;
  // width:20rem;
  // height:25%;
}

.qualites__img{
  width:200px;
  height:auto;
  border: 5px solid var(--gardebg);
  border-radius:50%;
  background-color: var(--qualbg);
}

.qualites__legende{
  font-size: 2.5rem;
  text-align: center;
  padding-top:10px;
}
/********* PRESENTATION *********/
.pres{
  height:auto;
  min-height:90vh;
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: var(--presbg);
  color:white;
  // background img ?
}

.carac__container{
  // position:relative;
  // margin:20px 0;
  display:flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;


  @media screen and (min-width: $break-medium) {
    flex-direction: row;
  }
}

.carac__image{
  // display:none;
  width:250px;
  @media screen and (min-width: $break-medium) {
    // display:initial;
    height:100%;
    width:300px;
  }
}

.carac__txt{
  max-width:85vw;
  list-style:inside;
  padding:0;
  font-size:2rem;
  text-align: justify;
  li{
    margin-top:1em;
    margin-bottom:1em;
    &:first-child{
      margin-top:0;
    }
    &:last-child{
      margin-bottom:0;
    }
  }

  .pres__txt{
    width:70%;
    // margin:auto;
    text-align: justify;
    // font-style:italic;
    @media screen and (min-width: $break-medium) {
    }
  }
  // @media screen and (min-width: $break-medium) {
  //   transition: transform 1s;
  //   position: absolute;
  //   left:0;
  //   top:50%;
  //   transform: translateY(-50%);
  //   padding:0;
  // }
}
/***********MAGNET***********/
.magnet{
  text-align: justify;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  background-color: var(--magnetbg);
  // color:white;
}

.magnet__img{
  display:none;
}

.magnet__txt{
  width:70%;
}

/***********Fluo***********/
.fluo{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--fluobg);
}

/***********Springs***********/
.springs{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  color:white;
  background-color: var(--springbg);

}

.springs__titre{
}
